<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @picture.category %>
</p>

<%= link_to 'Edit', edit_category_picture_path(@picture.category, @picture) %> |
<%= link_to 'Back', category_pictures_path(@picture.category) %>
