<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @picture.category %>
</p>


<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url(:thumb) %>
</p>
<%= link_to 'Edit', edit_category_picture_path(@picture.category, @picture) %> |
<%= link_to 'Back', category_pictures_path(@picture.category) %>
